### Reverse the tuple

In [1]:
a = eval(input('Enter a tuple'))
print(a)
print(a[::-1])

Enter a tuple(1,2,3)
(1, 2, 3)
(3, 2, 1)

### Access the value 20 from the following tuple

In [5]:
a = ('Orange',[10,20,30],(5,15,25))
print(a[1][1])

20

### Create a tuple with single item 50

In [13]:
a = (50,)
print(a)

(50,)

### Unpack the following tuple into 4 variables

In [14]:
a = (10,20,30,40)
a,b,c,d = a
print(a,b,c,d)

10 20 30 40

### Swap the following two tuples

In [9]:
a = (11,22)
b = (99,88)
print(a,b)
a,b=b,a
print(a,b)

(11, 22) (99, 88)
(99, 88) (11, 22)

### Copy element 44 and 55 from the following tuple into a new tuple

In [17]:
t1 = (11,22,33,44,55,66)
t1 = t1[3:-1]
print(t1)

(44, 55)

### Modify the first item (22) of a list inside a following tuple to 222

In [18]:
t = (11,[22,33],44,55)
t[1][0] = 222
print(t)

(11, [222, 33], 44, 55)

### Counts the number of occurences of item 50 from a tuple

In [20]:
t = (50,10,60,70,50,40,50)
print(t.count(50))

3

### Assign the first element of the tuple to t1 on line2

In [27]:
t = (11,100,99,1000,999)
t2 = (10)
t[1]=10
t[1]=t2

TypeError: 'tuple' object does not support item assignment

### Whats the index of 2

In [32]:
t = (55,77,54.6,76,101,1,2,8679,123,99)
t[6]
t.find(2)

AttributeError: 'tuple' object has no attribute 'find'

### How many times 777 occur

In [33]:
a =(55,6,777,54,6,76,7777,1,777,2,6)
a.count(777)

2

### sum of all numbers in a tuple

In [34]:
t = eval(input('Enter a tuple'))
print(sum(t))

Enter a tuple(1,2,3)
6

### What is the minimum value in the tuple

In [35]:
t = eval(input('Enter a tuple'))
print(min(t))

Enter a tuple(10,12,4,3,7,9,1)
1

### create empty tuple

In [37]:
t1 = ()
t2 = tuple()
print(t1,type(t1))
print(t2,type(t2))

() <class 'tuple'>
() <class 'tuple'>

### write a code to convert the list l1 to tuple

In [40]:
l1 = eval(input('Enter a list'))
print(l1)
print(tuple(l1))

Enter a list[1,2,3,4,5]
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

### write a code to create a tuple containing first five even numbers

In [48]:
t = eval(input('Enter a tuple:'))
t1 = ()
even = (2,4,6,8,10)
if t == even:
    t1 = tuple(t)
print(t1)

Enter a tuple:(2,4,6,8,10)
(2, 4, 6, 8, 10)

### To accept five fruit name from the user and store it in a tuple F1

In [4]:
F1 = ()
ls = []
n = int(input('How many fruits do you have:'))
for i in range(n):
    f = input('Enter a fruit name:')
    ls.append(f)
F1 = tuple(ls)    
print(F1)

How many fruits do you have:5
Enter a fruit name:mango
Enter a fruit name:pear
Enter a fruit name:apple
Enter a fruit name:banana
Enter a fruit name:orange
('mango', 'pear', 'apple', 'banana', 'orange')

### To accept numbers from the user and store it in a tuple

In [5]:
t = ()
n = int(input('How many numbers do you have:'))
for i in range(n):
    a = int(input('Enter a number:'))
    t += (a,)
print(t)

How many numbers do you have:5
Enter a number:1
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
(1, 2, 3, 4, 5)

In [11]:
t = (12,3,45,'Hockey','Anvi',('a','b'))
print(t[0])
print(t[-1])
print(t[-1][1])
print(t[::-1])
print(t[-2])

12
('a', 'b')
b
(('a', 'b'), 'Anvi', 'Hockey', 45, 3, 12)
Anvi

### To accept three numbers from the user and insert it at the end of given tuple

In [12]:
t = (23,32,4,5,2,12,23)
t1 = ()
print(t)
n = int(input('Enter a 3 here'))
for i in range(n):
    a = int(input('Enter a number:'))
    t += (a,)
print(t)

(23, 32, 4, 5, 2, 12, 23)
Enter a 3 here3
Enter a number:1
Enter a number:2
Enter a number:3
(23, 32, 4, 5, 2, 12, 23, 1, 2, 3)

### print frequency of a number accepted from the user in given tuple

In [14]:
t = (12,17,18,25,19,12,18,5)
ele = int(input('Enter a element:'))
count = 0
for i in t:
    if i == ele:
        count+=1
print(ele,'occurence in a given tuple is',count,'times')

Enter a element:12
12 occurence in a given tuple is 2 times

In [15]:
t = eval(input('Enter a tuple:'))
ele = int(input('Enter a element:'))
count = 0
for i in t:
    if i == ele:
        count+=1
print(ele,'occurence in a tuple is',count,'times')

Enter a tuple:(1,2,3,3,4,4,2,4,1,5)
Enter a element:4
4 occurence in a tuple is 3 times

### To concatenate all the characters of given tuple

In [17]:
t1 = ('B','O','O','K')
l1 = list(t1)
print(l1)
t2 = ''.join(l1)
print(t2)
print(tuple(t2))

['B', 'O', 'O', 'K']
BOOK
('B', 'O', 'O', 'K')

In [18]:
t1 = ('B','O','O','K')
t2 = ''.join(t1)
print(t2)

BOOK